* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", sans-serif;
}

/* TOP_BAR */
.top-bar {
    height: 42px;
}

.top-bar a {
    text-decoration: none;
    font-size: 13px;
    color: gray;
    line-height: 42px;
}

.top-bar a:hover {
    text-decoration: none;
    font-size: 13px;
    color: rgb(249, 178, 46);
    line-height: 42px;
}

/* NAV */

.container_nav {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;

}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    width: 255px;
    height: 60px;
}

.logo_wrap a {
    display: block;
}

.logo_wrap .logo img {
    height: 60px;
    fill: white;
    padding-top: 5px;
    width: 255px;
    padding-right: 50px;
    box-sizing: border-box;
}

.nav_pc>ul>li a {
    display: block;
    color: black;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'SF Pro Text', sans-serif;
    text-decoration: none;
}

ul {
    display: contents;
    padding-left: 15px;
    list-style: none;
}

.nav_pc>ul>li {
    display: inline-block;
    padding: 19px 10px 19px;
}

.nav_pc>ul {
    padding: 0;
    margin: 0;
}

input {
    display: none;
}

.nav_bar-btn {
    display: none;
    padding: 19px 10px 19px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nav_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: white;
    overflow: auto;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
}

.nav_mobile>ul>li:first-child {
    padding-top: 70px;
}

.nav_mobile>ul>li {
    display: block;
    padding: 19px 10px 19px 30px;
}

.nav_mobile>ul>li a {
    display: block;
    color: black;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'SF Pro Text', sans-serif;
    text-decoration: none;
    /*border-bottom: 0.5px solid gray;*/
}

.nav_mobile-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 19px 10px 19px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nav_input:checked~.nav_mobile {
    transform: translateX(0);
}

.nav_input:checked~.nav_overlay {
    display: block;
}

@media screen and (max-width: 1200px) {
    .nav_bar-btn {
        display: block;
    }

    .nav_pc>ul>li {
        display: none;
    }

    .logo_wrap a {
        top: 35px;
        left: 50%;
        display: block;
        position: absolute;
        width: 255px;
        height: 60px;
        margin-top: 10px;
        margin-left: -127.5px;
    }
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab_label {
    display: block;
    color: black;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'SF Pro Text', sans-serif;
    cursor: pointer;
}

.tab_content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.tab_input:checked~.tab_content {
    max-height: 5000px;
}

.dropdown {
    position: relative;
}

.dropdown_content {
    display: none;
}

.dropdown_content>.menu_child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    left: 0;
    width: 100%;
    z-index: 1;
}

#menu_child_1>section {
    padding-right: 40px;
    width: 80px;
}

#menu_child_2>section {
    padding-right: 40px;
    width: 200px;
}

.lv2_title>a {
    border-bottom: 1px solid black;
}

.menu_child>section>li>a {
    font-size: large;
    padding-bottom: 10px;
}

.clearfix li a:hover {
    color: orange;
}

.dropdown:hover .dropdown_content {
    display: block;
}

/* MAIN */

/* SLIDE */
.slide {
    margin-bottom: 60px;
}

/* Home */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 100px;
}

.banner {
    grid-column: 1/3;
}

.banner img {
    width: 590px;
    height: 360px;
    border-radius: 20px;
    margin: 0 20px 40px 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.item img {
    width: 270px;
    height: 270px;
    border-radius: 15px;
    margin: 0 10px 20px 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.item h3 {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.item h3:hover {
    color: #E57905;
}

.item .item_info {
    margin-left: 10px;
}

/* Cloud */
.cloudtea {
    background-image: url(img/bgcloud.webp);
    background-size: cover;
    margin-top: 50px;
    width: 1519px;
    height: 700px;

}

.info_cloud img {
    margin-left: 690px;

}

.info_cloud p {
    width: 600px;
    margin: 40px 0 30px 600px;
    text-align: justify;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

.info_cloud button {
    margin-left: 600px;
}

/* Store 1 */
.store1 {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bao1 {
    background-image: url(img/sig-03.png);
    margin-top: 100px;
    width: 60%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.new_store1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.store_content1 {
    background: rgba(255, 241, 208, 0.9);
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    transition: 0.5s;
}

.new_store1:hover .store_content1 {
    transform: translate(548px);
}

/* Store 2*/
.store2 {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bao2 {
    background-image: url(img/store.png);
    width: 60%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.new_store2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.store_content2 {
    background: rgba(255, 241, 208, 0.9);
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    transition: 0.5s;
    transform: translate(548px);
}

.new_store2:hover .store_content2 {
    transform: translate(0px);
}

/* Blogs */
.blog {
    background-color: #FFF7E6;
    padding: 0 170px;
    padding-bottom: 100px;
}

.tittle_blog {
    padding-top: 30px;
    margin-left: 460px;
    margin-bottom: 40px;
}

.tittle_blog span {
    font-size: 28px;
    font-weight: 600;
    font-family: 'SF Pro Display', sans-serif;

}

.tittle_blog img {
    width: 20px;
    height: 30px;
    position: relative;
    top: -10px;
    left: -10px;
    cursor: pointer;
}

.hearder_content {
    border-left: 4px solid #E57905;
    padding-left: 10px;
    cursor: pointer;
}

.hearder_content p {
    font-size: 25px;
    font-weight: 600;
    margin: 25px 0;
}

.hearder_content p:hover {
    font-size: 25px;
    font-weight: 600;
    margin: 25px 0;
    color: #E57905
}

.blog_list {
    width: 370px;
    height: 400px;
    display: inline-block;
    margin-right: 20px;
}

.content_img {
    overflow: hidden;
}

.content_img img {
    width: 370px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.content_img:hover img {
    transform: scale(1.1);
}

.content_time {
    padding: 10px 0;
    color: gray;
    font-weight: 100;
}

.content_tittle a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.content_tittle a:hover {
    color: #E57905;
}

.content_tittle {
    padding-bottom: 5px;
}

/* FOOTER */
footer {
    background-color: #262626;
    height: 430px;
    margin: 0;
    padding: 0;
    color: white;
}

footer .container-fluid {
    padding: 40px 200px 20px 200px;
}

footer .list {
    display: flex;
}

footer h4 {
    font-size: 20px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .ct a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

footer .ct p {
    margin-bottom: 20px;
}

.ct img {
    margin-right: 10px;
}

footer p {
    font-size: 13px;
    width: 650px;
    padding: 0;
    margin: 0;
}

hr {
    height: 3px;
    background-color: white;
    border: none;
}

.fp img {
    width: 260px;
    height: 130px;
}

#avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid blue;
    transform: translate(10px, -120px);
}

.fb i {
    font-size: 25px;
    position: relative;
    top: 1px;
    left: 10px;
    cursor: pointer;
    color: blue;
}



.fb {
    transform: translate(10px, -95px);
    cursor: pointer;
}

.fp a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.tt {
    position: relative;
    top: -120px;
}

/* CONTACT */
.contact {
    background-color: #E57905;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contact img {
    width: 30px;
    height: 30px;
    object-fit: cover;

}